<script>
$(function() {
 
    if($.cookie("openTag")){
        // 一旦すべての active を外す
        $('a[data-toggle="tab"]').parent().removeClass('active');
        $('a[href="#' + $.cookie("openTag") +'"]').click();
    }
 
    $('a[data-toggle="tab"]').on('show.bs.tab', function (e) {
        var tabName = e.target.href;
        var items = tabName.split("#");
        // クッキーに選択されたタブを記憶
        $.cookie("openTag",items[1], { expires: 1800 });
    });
});
</script>

<div id="newform">

<div class="row mx-auto mt-2">

<div class="col-md-6 p-0 d-none d-md-block clearfix">
<div class="mr-2 float-right" style="width:300px;">

    <% if session[:uid] %>

    <% session_bunkatsu = session[:uid].split("@") %>
    <% session_bokensha = "https://" + session_bunkatsu.last + "/@" + session_bunkatsu[0] %>

    <div class="comment-bg2" style="background:#fff; position:fixed; top:64px; width:280px;">
    <table class="table table-borderless m-0">

        <tr style="border; 1px; solid #ddd;">
            <span class="useravatar"><%= image_tag @current_user.avatar, :onerror => "this.src='/assets/missing.png'" %></span>
            <% if @current_user.display_name.present? %>
                <span class="text-success mt-3 mb-0" title="ログイン中の冒険者" aria-hidden="true"> 
                <%= link_to @current_user.display_name,
                session_bokensha,
                :target => "_blank" %>
                </span>
            <% else %>
                <span class="oi oi-person text-success ml-3 mt-3 mb-0" title="ログイン中の冒険者" aria-hidden="true"> 
                <%= link_to sanitize('') + '@' + session_bunkatsu[0],
                session_bokensha,
                :target => "_blank" %>
                </span>
            <% end %>
            <a href="https://<%= session_bunkatsu.last %>/settings/profile" target="_blank"><span class="oi oi-pencil text-primary small mt-0 ml-2 mb-3" title="プロフィールを編集" aria-hidden="true"></a></span>
        </tr>

        <thead>
        <tr class="text-center">
            <th scope="col" style="width: 100px;" class="pt-0 pb-1">Lv.</th>
            <th scope="col" style="width: 100px;" class="pt-0 pb-1">H P</th>
            <th scope="col" style="width: 100px;" class="text-nowrap pt-0 pb-1">クリア/MaChiKa</th>
        </tr>
        </thead>
        <tbody>
        <tr class="text-nowrap text-center">
            <td class="py-0">
            <% if @current_user.level >= 100 %>
                <span class="text-success" title="称号付き冒険者" aria-hidden="true">🥇<%= @current_user.level %></span>
            <% else %>
                <%= @current_user.level %>
            <% end %>
            </td>
            <td class="py-0">
            <%= @current_user.hp %>
            </td>
            <td class="py-0">
            <%= Comment.where(user_uid: session[:uid]).count %>件 
            <% if @current_user.machika_token %>
                <a href="https://note.mu/west2538/n/n35103c6e7fd7" target="_blank"><span class="oi oi-globe text-black" title="まちの価値＝MaChiKa" aria-hidden="true"></a> <%= @current_user.machika_token %>
            <% elsif %>
            <span class="oi oi-warning text-danger" title="再ログイン" aria-hidden="true"></span>
            <%= link_to "再ログイン",
                signout_path,
                method: :delete %>
            <% end %>
            </td>
        </tr>
        </tbody>

    </table>

    <% metervalue = @current_user.exp % 100 %>
    <% if metervalue == 0 %>
        <% metervalue = 5 %>
    <% end %>
    <table class="ml-3 mt-1 mb-2">
        <tr>
            <td>
                <div>
                    <small class="font-weight-bold">EXP</small> <meter value="<%= metervalue %>" min="0" max="100" low="30" high="90" style="width: 220px;">--</meter>
                </div>
            </td>
        </tr>
    </table>

    </div>

    <% end %>

    <div class="comment-bg2 mt-1" style="background:#fff; position:fixed; top:210px; width:280px;">

    <table class="table table-borderless m-0">
        <tr>
        <td class="text-nowrap my-auto">
            <span class="oi oi-flag text-danger ml-2" title="おすすめ" aria-hidden="true"></span>
            <span class="font-weight-bold"> おすすめ</span>
        </td>
        <td class="bg-info my-auto" style="border-radius: 0 10px 0 0;">
            <div class="btn-group">
                <%= button_to('map', {method: "get", class: "btn btn-sm btn-info btn-block ml-1 p-0", data: { disable_with: "<i class='fa fa-spinner fa-spin'></i> マップ" }}) do %>
                <span class="oi oi-map-marker text-white"></span>
                <span class="font-weight-bold text-white">マップ</span>
                <% end %>
                <%= button_to('gallery', {method: "get", class: "btn btn-sm btn-info btn-block ml-2 p-0", data: { disable_with: "<i class='fa fa-spinner fa-spin'></i> 写 真" }}) do %>
                <span class="oi oi-camera-slr text-white"></span>
                <span class="font-weight-bold text-white">写 真</span>
                <% end %>
            </div>
        </td>
        </tr>
    </table>

    <table class="table table-borderless mb-0">

        <% @ranks = Comment.where('created_at > ?', Time.now - 7.days).group(:post_id).order(Arel.sql('count(post_id) desc')).limit(3).pluck(:post_id) %>
        <tr>
        <td class="text-left pt-2 pb-0 pr-0" style="width: 240px;">
        <% @ranks.each.with_index(1) do |rank, i| %>
        <p class="mb-0 d-inline-block d-inline-block text-truncate" style="max-width: 240px;">
            <% @post = Post.find(rank) %>
                    <% if Comment.find_by(post_id: @post.id, user_uid: session[:uid]) %>
                    <span class="oi oi-task text-success" title="クリア" aria-hidden="true"></span> 
                    <% else %>
                    <span class="oi oi-task text-danger" title="未クリア" aria-hidden="true"></span> 
                    <% end %>
                    <%= link_to @post.body,
                    post_path(@post),
                    :class => 'font-weight-bold text-truncate',
                    data: { turbolinks: false } %>
        </p>
        <% end %>
        </td>
        </tr>

    </table>

    <table class="table table-borderless mb-0">
        <tr style="border; 1px; solid #ddd;">
        <td class="text-left pt-3 pb-0" style="width: 240px;">
            <span class="oi oi-bar-chart text-warning"></span> <span class="font-weight-bold">ソーシャルアップデート値</span>
        </td>
        </tr>
    </table>

    <table class="table table-borderless mb-0">

        <thead>
        <tr class="text-center">
            <th scope="col" class="pb-1">冒険者</th>
            <th scope="col" class="pb-1">クリア</th>
            <th scope="col" class="pb-1">レベル</th>
        </tr>
        </thead>

        <tbody>
        <tr id="socialparam" class="text-center">
            <td class="pt-0">
            <%= User.count %>名
            </td>
            <td class="pt-0">
            <%= Comment.count %>件
            </td>
            <td class="pt-0">
            平均Lv.<%= User.average(:level).round %>
            </td>
        </tr>
        </tbody>

    </table>

    <table class="table table-borderless mb-3">

        <thead>
        <tr>
            <th><span class="oi oi-timer text-info" title="履歴" aria-hidden="true"></span> 最近アクセスしたサブクエスト</th>
        </tr>
        </thead>

        <tbody>
        <tr>
            <td class="text-left pt-0 pb-0" style="width: 240px;">
                <% posts = [] %>
                <% posts = cookies[:recently_viewed_posts].split(",") unless cookies[:recently_viewed_posts].nil? %>
                <% posts.last(5).reverse_each do |id| %>
                    <% if Post.exists?(id: id) %>
                        <% post = Post.find(id) %>
                        <div>
                        <p class="mb-0 d-inline-block text-truncate" style="max-width: 240px;">
                        <% if Comment.find_by(post_id: post.id, user_uid: session[:uid]) %>
                        <span class="oi oi-task text-success" title="クリア" aria-hidden="true"></span> 
                        <% else %>
                        <span class="oi oi-task text-danger" title="未クリア" aria-hidden="true"></span> 
                        <% end %>
                        <%= link_to post.body,
                        post_path(post),
                        :class => 'font-weight-bold',
                        data: { turbolinks: false } %>
                        </p>
                        </div>
                    <% end %>
                <% end %>
            </td>
        </tr>
        </tbody>

    </table>

    </div>

</div>
</div>

<div class="col-md-6 mx-auto p-0" style="width:290px;">

<div class="pt-1">

    <!-- タブボタン部分 -->
    <div style="width:289px;">
    <ul id="tab" class="nav nav-tabs mb-2 sticky-top" style="position: fixed; top: 64px; background:#E0DDDD; border-radius:5px 5px 0px 0px; opacity: 0.87;">
        <li class="nav-item">
            <a href="#tab01" class="nav-link font-weight-bold" data-toggle="tab">みんな <span class="oi oi-people text-warning" title="みんなの投稿" aria-hidden="true"></span></a>
        </li>
        <li class="nav-item">
            <a href="#tab02" class="nav-link font-weight-bold" data-toggle="tab">あなた <span class="oi oi-person text-success" title="あなたの投稿" aria-hidden="true"></span></a>
        </li>
        <li class="nav-item">
            <a href="#tab03" class="nav-link font-weight-bold" data-toggle="tab">せーぶ <span class="oi oi-task text-danger mr-1" title="せーぶした投稿" aria-hidden="true"></span></a>
        </li>
    </ul>
    </div>

    <div id="flash" style="width:285px;">
        <%= render 'flashbar' %>
    </div>

    <div id="tabContents" class="tab-content">

        <div id="tab01" class="tab-pane active">
        <%# <div id="tab01" class="tab-pane fade in active"> %>

    <% if session[:uid] %>

        <div class="d-none d-md-block d-lg-block d-xl-block mt-1">

        <div id="modal-main">
            <% if @current_user.avatar.present? %>
            <table class="table table-borderless ml-3">
            <tr>
                <td class="balloon01">
                    <div class="faceicon">
                        <%= image_tag @current_user.avatar, :onerror => "this.src='/assets/missing.png'" %>
                    </div>
                    <div class="chatting">
                    <div class="says01">
                    <p class="says01 font-weight-bold text-secondary d-inline-block" style="opacity: 0.87;">
                        <%= form_with model: Post.new, id: :commentSubmit, local: true do |f| %>
                        <div class="input-group">
                            <input type="hidden" name="post[title]" value="冒険中のつぶやき">
                            <%= f.text_field :body,
                            :class => 'form-control',
                            :style => 'width: 340px;',
                            :placeholder => '冒険中なにしてる？',
                            :autocomplete => 'off',
                            :id => 'modalinput' %>
                        <label class="input-group-btn m-0">
                            <%= button_tag :type => "submit", data: { disable_with: "<i class='fa fa-spinner fa-spin'></i>" }, :class =>"btn btn-success" do %>
                            <span class="oi oi-chat" title="つぶやく" aria-hidden="true"></span>
                            <% end %>
                        </label>
                        </div>
                        <% end %>
                    </p>
                    <small style="float: right;" class="mt-2 mb-3">
                    <% if @current_user.display_name.present? %>
                    <span class="oi oi-person" title="投稿者" aria-hidden="true"></span> <%= link_to @current_user.display_name, session_bokensha, :target => "_blank" %> Lv.<%= @current_user.level %>
                    <% else %>
                    <span class="oi oi-person" title="投稿者" aria-hidden="true"></span> <%= link_to "@" + session_bunkatsu[0], session_bokensha, :target => "_blank" %> Lv.<%= @current_user.level %>
                    <% end %>
                    <span class="oi oi-clock my-1" aria-hidden="true"> now</span>
                    </small>
                    </div>
                    </div>
                </td>
            </tr>
            </table>
            <% end %>
        </div>
 
        <div id="contents" style="width: 288px;">
            <% if @current_user.avatar.present? %>
            <a id="modal-open">
            <table class="table table-borderless">
            <tr>
                <td class="balloon01">
                    <div class="faceicon">
                        <%= image_tag @current_user.avatar, :onerror => "this.src='/assets/missing.png'" %>
                    </div>
                    <div class="chatting">
                    <div class="says01">
                    <p class="says01 font-weight-bold text-secondary d-inline-block mt-2" style="opacity: 0.87;">
                    <fieldset disabled>
                        <div class="input-group">
                        <input type="text" class="form-control" placeholder="冒険してる？">
                        <label class="input-group-btn m-0">
                        <button class="btn btn-success">
                        <span class="oi oi-chat" title="つぶやく" aria-hidden="true"></span>
                        </button>
                        </label>
                        </div>
                    </fieldset>
                    </p>
                    <small style="float: right;" class="mt-2 mb-3 text-primary">
                    冒険中のつぶやきを書く
                    </small>
                    </div>
                    </div>
                </td>
            </tr>
            </table>
            </a>
            <% end %>    
        </div>

        </div>

    <% end %>    

            <div class="d-md-none" style="width: 288px;">

                <div class="comment-bg" style="width: 288px; background:#fff;">

                <table class="table m-0">
                    <tr>
                    <td class="text-nowrap pt-2 pb-2">
                        <div>
                        <button class="btn bg-white btn-block ml-1 p-0">
                            <span class="oi oi-flag text-danger p-0" title="おすすめ" aria-hidden="true"></span>
                            <span class="font-weight-bold p-0">おすすめ</span>
                        </button>
                        </div>
                    </td>
                    <td class="bg-info pt-2 pb-2">
                        <div class="btn-group">
                            <%= button_to('map', {method: "get", class: "btn btn-info btn-block ml-1 p-0", data: { disable_with: "<i class='fa fa-spinner fa-spin'></i> マップ" }}) do %>
                            <span class="oi oi-map-marker text-white"></span>
                            <span class="font-weight-bold text-white">マップ</span>
                            <% end %>
                            <%= button_to('gallery', {method: "get", class: "btn btn-info btn-block ml-2 p-0", data: { disable_with: "<i class='fa fa-spinner fa-spin'></i> 写 真" }}) do %>
                            <span class="oi oi-camera-slr text-white"></span>
                            <span class="font-weight-bold text-white">写 真</span>
                            <% end %>
                        </div>
                    </td>
                    </tr>
                </table>

                <table class="table table-borderless mb-0">

                    <% @ranks = Comment.where('created_at > ?', Time.now - 7.days).group(:post_id).order(Arel.sql('count(post_id) desc')).limit(3).pluck(:post_id) %>
                    <tr>
                    <td class="text-left pt-2 pb-0" style="width: 240px;">
                    <% @ranks.each.with_index(1) do |rank, i| %>
                    <p class="pl-2 pr-1 mb-0 d-inline-block text-truncate" style="max-width: 250px;">
                        <% @post = Post.find(rank) %>
                                <% if Comment.find_by(post_id: @post.id, user_uid: session[:uid]) %>
                                <span class="oi oi-task text-success" title="クリア" aria-hidden="true"></span> 
                                <% else %>
                                <span class="oi oi-task text-danger" title="未クリア" aria-hidden="true"></span> 
                                <% end %>
                                <%= link_to @post.body,
                                post_path(@post),
                                :class => 'font-weight-bold',
                                data: { turbolinks: false } %>
                    </p>
                    <% end %>
                    </td>
                    </tr>

                </table>

                <table class="table table-borderless mb-0">
                    <tr style="border; 1px; solid #ddd;">
                    <td class="text-left pt-3 pb-0" style="width: 240px;">
                    <p class="pl-2 pr-1 pt-0 pb-0 m-0">
                        <span class="oi oi-bar-chart text-warning"></span> <span class="font-weight-bold">ソーシャルアップデート値</span>
                    </p>
                    </td>
                    </tr>
                </table>

                <table class="table table-borderless mb-0">

                    <thead>
                    <tr class="text-center">
                        <th scope="col" class="pb-1">冒険者</th>
                        <th scope="col" class="pb-1">クリア</th>
                        <th scope="col" class="pb-1">レベル</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr id="socialparam2" class="text-center">
                        <td class="pt-0">
                        <%= User.count %>名
                        </td>
                        <td class="pt-0">
                        <%= Comment.count %>件
                        </td>
                        <td class="pt-0">
                        平均Lv.<%= User.average(:level).round %>
                        </td>
                    </tr>
                    </tbody>

                </table>

                </div>

            <% if session[:uid] %>
            <%= form_with model: Post.new, id: :commentSubmit, class: 'mt-2', local: true do |f| %>
                <input type="hidden" name="post[title]" value="冒険中のつぶやき">
            <div class="input-group">
                <span class="useravatar3"><%= image_tag @current_user.avatar, :onerror => "this.src='/assets/missing.png'" %></span>
                <%= f.text_field :body,
                :class => 'form-control',
                :placeholder => '冒険中のつぶやき',
                :autocomplete => 'off',
                :id => 'commentInput' %>
                <label class="input-group-btn m-0">
                    <%= button_tag :type => "submit", data: { disable_with: "<i class='fa fa-spinner fa-spin'></i>" }, :class =>"btn btn-success" do %>
                    <span class="oi oi-chat" title="つぶやく" aria-hidden="true"></span>
                    <% end %>
                </label>
            </div>
            <% end %>
            <% end %>
        
            </div>

        <div class="d-inline-block" style="width: 288px;">

            <table class="table table-borderless">
            <tr id="posts" style="height:1px;">
            </tr>

            <tbody id="items01">
            <%= render partial: 'posts01', collection: @posts01, as: :post %>
            </tbody>

            <tr>
            <td>
                <%= link_to_next_page @posts01, 'つづきを見る', remote: true, id: 'more_link01', class: 'btn btn-info btn-block', params: { type: :posts01 }, data: { disable_with: "読み込み中 <i class='fa fa-spinner fa-spin'></i>" } %>
            </td>
            </tr>

            </table>

        </div>

        </div>

        <div id="tab02" class="tab-pane">

            <div class="d-md-none" style="width: 288px;">

            <% if session[:uid] %>

            <div class="comment-bg" style="width: 288px; background:#fff;">
            <table class="table table-borderless m-0">

                <tr style="border; 1px; solid #ddd;">
                <span class="useravatar2">
                <%= image_tag @current_user.avatar, :onerror => "this.src='/assets/missing.png'" %></span>
                <% if @current_user.display_name.present? %>
                    <span class="ml-3 mt-3 mb-0" title="ログイン中の冒険者" aria-hidden="true"> 
                    <%= link_to @current_user.display_name,
                    session_bokensha,
                    :target => "_blank" %>
                    </span>
                <% else %>
                    <span class="ml-3 mt-3 mb-0" title="ログイン中の冒険者" aria-hidden="true"> 
                    <%= link_to sanitize('') + '@' + session_bunkatsu[0],
                    session_bokensha,
                    :target => "_blank" %>
                    </span>
                <% end %>
                    <a href="https://<%= session_bunkatsu.last %>/settings/profile" target="_blank"><span class="oi oi-pencil text-primary small mt-0 ml-2 mb-3" title="プロフィールを編集" aria-hidden="true"></a></span>
                </tr>

                <thead>
                <tr class="text-center">
                    <th scope="col" style="width: 100px;" class="pt-0 pb-1">Lv.</th>
                    <th scope="col" style="width: 100px;" class="pt-0 pb-1">H P</th>
                    <th scope="col" style="width: 100px;" class="text-nowrap pt-0 pb-1">クリア/MaChiKa</th>
                </tr>
                </thead>
                <tbody>
                <tr class="text-nowrap text-center">
                    <td class="py-0">
                    <% if @current_user.level >= 100 %>
                        <span class="text-success" title="称号付き冒険者" aria-hidden="true">🥇<%= @current_user.level %></span>
                    <% else %>
                        <%= @current_user.level %>
                    <% end %>
                    </td>
                    <td class="py-0">
                    <%= @current_user.hp %>
                    </td>
                    <td class="py-0">
                    <%= Comment.where(user_uid: session[:uid]).count %>件
                    <% if @current_user.machika_token %>
                        <a href="https://note.mu/west2538/n/n35103c6e7fd7" target="_blank"><span class="oi oi-globe text-black" title="まちの価値＝MaChiKa" aria-hidden="true"></a> <%= @current_user.machika_token %>
                    <% elsif %>
                    <span class="oi oi-warning text-danger" title="再ログイン" aria-hidden="true"></span>
                    <%= link_to "再ログイン",
                        signout_path,
                        method: :delete %>
                    <% end %>
                    </td>
                </tr>
                </tbody>

            </table>

            <% metervalue = @current_user.exp % 100 %>
            <% if metervalue == 0 %>
                <% metervalue = 5 %>
            <% end %>
            <table class="ml-3 mt-2 mb-2">
                <tr>
                    <td>
                        <div>
                        <small class="font-weight-bold">EXP</small> <meter value="<%= metervalue %>" min="0" max="100" low="30" high="90" style="width: 220px;">--</meter>
                        </div>
                    </td>
                </tr>
            </table>

            <table class="table table-borderless mb-3 ml-2">

                <thead>
                <tr>
                    <th><span class="oi oi-timer text-info" title="履歴" aria-hidden="true"></span> 最近アクセスしたサブクエスト</th>
                </tr>
                </thead>

                <tbody>
                <tr>
                <td class="text-left pt-0 pb-0" style="width: 240px;">
                    <% posts = [] %>
                    <% posts = cookies[:recently_viewed_posts].split(",") unless cookies[:recently_viewed_posts].nil? %>
                    <% posts.last(5).reverse_each do |id| %>
                        <% if Post.exists?(id: id) %>
                            <% post = Post.find(id) %>
                            <div>
                            <p class="mb-0 d-inline-block text-truncate" style="max-width: 240px;">
                            <% if Comment.find_by(post_id: post.id, user_uid: session[:uid]) %>
                            <span class="oi oi-task text-success" title="クリア" aria-hidden="true"></span> 
                            <% else %>
                            <span class="oi oi-task text-danger" title="未クリア" aria-hidden="true"></span> 
                            <% end %>
                            <%= link_to post.body,
                            post_path(post),
                            :class => 'font-weight-bold',
                            data: { turbolinks: false } %>
                            </p>
                            </div>
                        <% end %>
                    <% end %>
                </td>
                </tr>
                </tbody>

            </table>

            </div>

            <% end %>

            </div>

            <div class="d-inline-block" style="width: 288px;">

            <table class="table table-borderless">

                <tbody id="items02">
                <%= render partial: 'posts02', collection: @posts02, as: :post %>
                </tbody>

                <tr>
                <td>
                    <%= link_to_next_page @posts02, 'つづきを見る', remote: true, id: 'more_link02', class: 'btn btn-info btn-block', params: { type: :posts02 }, data: { disable_with: "読み込み中 <i class='fa fa-spinner fa-spin'></i>" } %>
                </td>
                </tr>

            </table>

            </div>

        </div>

        <div id="tab03" class="tab-pane" style="width: 288px;">

            <div class="comment-bg" style="width: 288px;">
            <table class="table table-borderless">

                <tr class="bg-info m-0 p-0">
                <td class="m-0 p-0">
                    <%= button_to('unclear', {method: "get", class: "btn btn-info btn-block m-0 p-0", style: "width:100%; height:50px;", data: { disable_with: "読み込み中 <i class='fa fa-spinner fa-spin'></i>" }}) do %>
                    <span class="oi oi-magnifying-glass text-white ml-1"></span>
                    <span class="font-weight-bold text-white">せーぶ済みの未クリアを探す</span>
                    <% end %>
                </td>
                </tr>

                <tr>
                <td class="pb-0">
                    <span class="oi oi-paperclip text-info ml-1"></span><span class="font-weight-bold"> おすすめのタグ</span>
                    <br>
                    <%= render 'tags' %>
                </td>
                </tr>

            </table>
            </div>

            <table class="table table-borderless">
            <% if session[:uid] %>
                <tbody id="items03">
                <%= render partial: 'posts03', collection: @posts03, as: :post %>
                </tbody>

                <tr>
                <td>
                    <%= link_to_next_page @posts03, 'つづきを見る', remote: true, id: 'more_link03', class: 'btn btn-info btn-block', params: { type: :posts03 }, data: { disable_with: "読み込み中 <i class='fa fa-spinner fa-spin'></i>" } %>
                </td>
                </tr>
            <% end %>
            </table>
        </div>

    </div>

</div>

</div>

<div class="col-md-3 m-0 p-0 d-none d-md-block">
<p></p>
</div>

</div>

</div>

<script>
$(function () {
  if (!navigator.vendor.indexOf("Apple")==0 && /\sSafari\//.test(navigator.userAgent)) {
    return;
  }

  var formHandler = function (e) {
    var rails = $.rails;
    var form = $(this),
      remote = form.data('remote') !== undefined,
      blankRequiredInputs,
      nonBlankFileInputs;

    if (!rails.allowAction(form)) return rails.stopEverything(e);

    // skip other logic when required values are missing or file upload is present
    if (form.attr('novalidate') == undefined) {
      blankRequiredInputs = rails.blankInputs(form, rails.requiredInputSelector);
      if (blankRequiredInputs && rails.fire(form, 'ajax:aborted:required', [blankRequiredInputs])) {
        return rails.stopEverything(e);
      }
    }

    if (remote) {
      nonBlankFileInputs = rails.nonBlankInputs(form, rails.fileInputSelector);
      if (nonBlankFileInputs) {
        // slight timeout so that the submit button gets properly serialized
        // (make it easy for event handler to serialize form without disabled values)
        setTimeout(function(){ rails.disableFormElements(form); }, 13);
        var aborted = rails.fire(form, 'ajax:aborted:file', [nonBlankFileInputs]);

        // re-enable form elements if event bindings return false (canceling normal form submission)
        if (!aborted) { setTimeout(function(){ rails.enableFormElements(form); }, 13); }

        return aborted;
      }

      rails.handleRemote(form);
      return false;

    } else {
      if (!e.isTrigger) {
        e.preventDefault();
        rails.disableFormElements(form);
        setTimeout(function(){ form.trigger('submit'); }, 13);
      }
    }
  };

  $(document).undelegate('form', 'submit.rails');
  $(document).delegate('form', 'submit.rails', formHandler);
});
</script>

<script>
$(function(){
 
    $("#modal-open").click(function(){
     $("body").append('<div id="modal-bg"></div>');
 
    modalResize();
 
    $("#modal-bg,#modal-main").fadeIn("fast");

    document.getElementById('modalinput').focus();
 
    $(window).keyup(function(e){

	if(e.keyCode == 27){
            $("#modal-main,#modal-bg").fadeOut("fast",function(){
            $('#modal-bg').remove() ;
         });
    }
    });

    $("#modal-bg").click(function(){
          $("#modal-main,#modal-bg").fadeOut("fast",function(){
              $('#modal-bg').remove() ;
         });
 
    });
    
     $(window).resize(modalResize);
      function modalResize(){
 
            var w = $(window).width();
          var h = $(window).height();
 
            var cw = $("#modal-main").outerWidth();
           var ch = $("#modal-main").outerHeight();
 
            $("#modal-main").css({
                "left": ((w - cw)/2) + "px",
                "top": ((h - ch)/2-80) + "px"
          });
     }
   });
});
</script>