<tr>
    <td class="px-0">
        <% if post.comments.find_by(user_uid: @current_user.uid) %>
        <div class="card text-white text-center bg-success my-1 tilt" style="max-width: 18rem;">
            <% if post.image.attached? %>
                <div class="trim"><%= image_tag post.image.variant(resize_to_fit: [288,288], autorot: true, saver: { strip: true, quality: 60 }), :class => "card-img-top" %></div>
            <% end %>
            <%= link_to(post_path(post), class: 'card-body bg-success d-inline-block stretched-link') do %>
            <h5 class="card-title text-white d-inline-block wf-nicomoji"><span class="oi oi-task" title="サブクエスト[クリア済]" aria-hidden="true"></span> サブクエ クリア✨</h5><br>
            <p class="card-text font-weight-bold text-white d-inline-block text-truncate my-0" style="max-width: 220px; opacity: 0.87;">
                <%= post.body %>
            </p>
            <div class="mark bg-transparent p-1">
            <i class="fa fa-calendar" title="トップ掲載期間指定のサブクエスト" aria-hidden="true"></i>
            </div>
            <% end %>
        </div>
        <% else %>
        <div class="card text-white text-center bg-danger my-1 tilt" style="max-width: 18rem;">
            <% if post.image.attached? %>
                <div class="trim"><%= image_tag post.image.variant(resize_to_fit: [288,288], autorot: true, saver: { strip: true, quality: 60 }), :class => "card-img-top" %></div>
            <% end %>
            <%= link_to(post_path(post), class: 'card-body bg-danger d-inline-block stretched-link') do %>
            <h5 class="card-title text-white d-inline-block wf-nicomoji"><span class="oi oi-task" title="サブクエスト" aria-hidden="true"></span> サブクエスト ⚔</h5><br>
            <p class="card-text font-weight-bold text-white d-inline-block text-truncate my-0" style="max-width: 220px; opacity: 0.87;">
                <%= post.body %>
            </p>
            <div class="mark bg-transparent p-1">
            <i class="fa fa-calendar" title="トップ掲載期間指定のサブクエスト" aria-hidden="true"></i>
            </div>
            <% end %>
        </div>
        <% end %>
    </td>
</tr>
